---
import "../styles/global.css";
import { AstroFont } from "astro-font";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Metadata from "../components/Metadata.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import BottomBlur from "../components/ui/BottomBlur.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bg text-fg">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A minimal personal portfolio website made with Astro, React and Tailwind CSS"
    />
    <meta name="viewport" content="width=device-width" />

    <Metadata
      slot="head"
      title="Siddarth Gundu"
      description="A personal portfolio website made with Astro, React and Tailwind CSS"
      image={`${import.meta.env.SITE}/og.png`}
      canonicalUrl={import.meta.env.SITE}
      type="website"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "Satoshi",
          src: [
            {
              style: "normal",
              weight: "400 500 600 700 800 900",
              path: "./public/fonts/Satoshi-Variable.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "Instrument-Serif",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "./public/fonts/InstrumentSerif-Regular.ttf",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "serif",
        },
      ]}
    />
  </head>
  <body
    class="mx-auto max-w-[760px] overflow-x-hidden px-6 py-24 md:overflow-x-visible"
  >
    <main class="relative font-satoshi">
      <Nav />
      <slot />
      <Footer />
      <BottomBlur />
    </main>
    <SpeedInsights />
  </body>
</html>
